<%= render "shared/navbar" %>

<div class= "main-container">

  <div class="profile">
    <h2>My profile</h2>
    <div id="profile-img">
      <%= cl_image_tag current_user.photo.key %>
    </div>
    <div class="profile-text">
      <h4><%= current_user.first_name%> <%= current_user.last_name%></h4>
      <h5><i class="fa-solid fa-envelope"></i> <%= current_user.email%></h5>
      <h5><i class="fa-solid fa-cake-candles"></i> <%= current_user.date_of_birth%></h5>
    </div>
    <div>
      <%= link_to "Modify", edit_user_registration_path(@current_user), class:"button-white"%>
    </div>
  </div>

  <div class="products-wrapper">
    <h2>My places</h2>
    <div class="products">
      <% current_user.products.each do |product| %>
        <div class="product-card">
          <div class="product-card-booking-name">
            <p><%= product.name %></p>
          </div>
          <%= cl_image_tag product.photos.first.key, crop: :fill %>
          <div>
            <div class="product-card-infos">
              <p>Located in: <%= product.place %></p>
              <p>Capacity : <%= product.capacity %></p>
              <p><%= product.price %>$</p>
            </div>
            <div id="product-card-infos-link">
              <%= link_to edit_product_path(product) do %>
                <i class="fa-solid fa-pencil button-white"></i>
              <% end %>
              <%= link_to product_path(product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                <i class="fa-solid fa-trash button-white"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

        <%= link_to new_product_path do %>
          <div id="product-card-new">
              <p>Add a new place</p>
              <h3>+</h3>
          </div>
        <% end %>
    </div>

    <div>
      <h2>My bookings</h2>
      <div class="products">
        <% current_user.rentals.each do |rental| %>
          <div class="product-card">
            <p class="product-card-booking-name"><%= rental.product.name %></p>
            <div id="product-card-booking-date">
              <p>From : <%= rental.arrival_date %></p>
              <p>Until : <%= rental.departure_date %></p>
              <p>Price : <%= rental.total_price %>€</p>
            </div>
            <%= link_to "Cancel my booking", rental_path(rental), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"button-orange" %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
