<%= render "shared/navbar" %>
<div class= "main-container">
  <div id="profile">
    <h2>My profile</h2>
    <div class="avatar-large pt-2 pb-2">
      <%= cl_image_tag current_user.photo.key, :radius=>"max", :color=>"lightgrey", :background=>"lightgrey", :width=>200, :crop=>"fill"%>
    </div>
    <h4><%= current_user.first_name%> <%= current_user.last_name%></h4>
    <h5><i class="fa-solid fa-envelope"></i> <%= current_user.email%></h5>
    <h5><i class="fa-solid fa-cake-candles"></i> <%= current_user.date_of_birth%></h5>

    <h4 class="btn button-white"><%= link_to "Update your information", edit_user_registration_path(@current_user) %></h3>
  </div>
  <div class="products-wrapper">
    <h2>My places</h2>
    <div class="products">
      <% current_user.products.each do |product| %>
        <div class="product-card">
          <h4><%= product.name %></h4>
          <%= cl_image_tag product.photos.first.key, height: 253, width: 350, crop: :fill %>
          <div class="product-card-infos">
            <div>
              <h5>Located in: <%= product.place %></h5>
              <h5>Capacity : <%= product.capacity %></h5>
              <h5><%= product.price %>$</h5>
            </div>
            <%= link_to edit_product_path(product) do %>
              <i class="fa-solid fa-pencil"></i>
            <% end %>
            <%= link_to product_path(product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class= "btn-orange">
        <%= link_to "Add new place", new_product_path %>
      </div>
    </div>

    <div>
      <h2>My bookings</h2>
      <div class="products">
        <% current_user.rentals.each do |rental| %>
          <div class="product-card">
            <h5><%= rental.product.name %></h5>
            <h5>From : <%= rental.arrival_date %></h5>
            <h5>Until : <%= rental.departure_date %></h5>
            <div class= "button-orange">
              <%= link_to "Cancel my booking", rental_path(rental), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
