<div class="footer" style="background-image: linear-gradient(rgba(0, 0, 0, 0.403), rgba(0, 0, 0, 0.403)), url(<%= asset_path("footer/footer-background.jpg") %>)">
  <div class="footer-logo">
    <%= image_tag "logos/logo2-white.png" %>
  </div>
  <div class="footer-slogan">
    <p>To infinity & beyond !</p>
  </div>
  <div class="footer-links">
    <a href="https://www.youtube.com/spacex" target="_blank"><%= image_tag "links/saturn.png" %></a>
    <a href="https://www.instagram.com/spacex/" target="_blank"><%= image_tag "links/outer-space-alien.png" %></a>
    <a href="https://twitter.com/spacex" target="_blank"><%= image_tag "links/arcade-game.png" %></a>
  </div>
</div>
