<div class="container">
  <div class="form">
  <h2>Edit your place :</h2>
    <div>
      <% if policy(@product).edit? %>
        <%= simple_form_for(@product) do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :capacity %>
        <%= f.input :price %>
        <%= f.input :place %>
        <%= f.association :genre, collection: Genre.all.order(:name), prompt: "Choose a genre" %>
        <%= f.submit class:"button-orange" %>
        <% end %>
      <% end %>
   </div>

    <div class="form-sup-link">
      <%= link_to "<<", :back, class:"button-white" %>
    </div>
  </div>
</div>
