<h1 id= "main-title">SpaceBnB</h1>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images2.alphacoders.com/542/thumb-1920-542730.png);">
      <p>For you next holiday destination, aim for the stars!</p>
  </div>

<div class="container">
    <div class="cards">
    <% @products.each do |product| %>
      <div class="card card-index">
        <%= link_to product_path(product) do %>
          <i class="fa-solid fa-heart" stule="color: white"></i>
          <div class="card-img">

          <% if product.photos.present? %>
          <%# START CARROUSEL %>
            <div id="carouselExampleDark-<%=product.id%>" class="carousel carousel-dark slide m-0 p-0" data-bs-ride="carousel">

              <div class="carousel-inner">
                  <% product.photos.each_with_index do |photo, index| %>
                    <div class="carousel-item <%="active" if index == 0%>" data-bs-interval="2000">
                      <%= cl_image_tag photo.key, height: 257, width: 386, crop: :fill, class: "d-block w-100" %>
                      <div class="carousel-caption d-none d-md-block">
                      </div>
                    </div>
                  <% end %>
              </div>
              <% if product.photos.length > 1 %>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark-<%=product.id%>" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark-<%=product.id%>" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              <% end %>

            </div>
          <% else %>
            <img src="https://source.unsplash.com/random/800x533/?space" alt="">
          <% end %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

          </div>


          <div class="card-body">
            <p class="card-title"><%= product.name %></p>
            <p class="card-description"><%= product.description %></p>
            <div class="card-price">
              <p><%= product.price %>€/night</p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
