<div class="container">
  <div class="form">
    <h2>Add a new product :</h2>
    <div>
      <%= simple_form_for @product do |f| %>
      <%= f.input :name %>
      <%= f.input :capacity %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :place %>
      <%= f.association :genre, collection: Genre.all.order(:name), prompt: "Choose a genre" %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.submit class:"button-orange" %>
      <% end %>
    </div>

    <div class="form-sup-link">
      <%= link_to "<<", :back, class:"button-white" %>
    </div>

  </div>
</div>
