<%# <img carrousel> %>
<div class="container">
  <div>
    <%= @product.name %>
    <%= @product.capacity %>
    <%= @product.place %>
  </div>

  <div>
    <%= @product.price %>
    <%# calendier des disponibilités%>
  </div>

  <%= link_to "Edit", edit_product_path(@product.id) %>
  <%= link_to "Delete your #{@product.genre.name}", product_path(@product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  <%= link_to "Back to all the products", products_path %>
</div>
