<div class="container">

  <div class="tabs">
    <h2><%= @product.name %></h1>
    <p><%= @product.place %><p>
    <% if policy(@product).edit? %>
    <%= link_to "+", product_path(@product), class:"button-white", id:"delete", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  <% end %>
  </div>

  <div class="carousel">
    <figure>
      <% @product.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 253, width: 350, crop: :fill %>
      <% end %>
    </figure>

    <nav>
      <button class="button-white"><<</button>
      <button class="button-white">>></button>
    </nav>
  </div>

  <div class="tabs-information">
    <div id="description">
      <h2><%= @product.place %><h2>
      <p><%= @product.capacity %> rooms<p>
      <p><%= @product.description %></p>
    </div>

    <div id="reservation">
      <p style="font-wize: light;"><%= @product.price %> €/night<p>

      <div id="reservation-detail" data-controller="flatpickr">
        <%= simple_form_for [@product, @rental] do |f| %>
          <div class="d-flex" style="width: 400px; margin: 0 auto;">
            <div id="arrival">
              <span>Arrival</span>

              <p><%= f.input :arrival_date, label: false, as: :string, required: false, input_html: { class: "datepicker", data: { flatpickr_target: "input",  action: 'input->flatpickr#result' } }%></p>
            </div>
           <div id="departure">
              <span>Departure</span>
              <p><%= f.input :departure_date, label: false, as: :string, required: false, input_html: { class: "datepicker", data: { flatpickr_target: "input",  action: 'input->flatpickr#result' } } %></p>

            </div>
            <div>
            <span data-flatpickr-target="result"></span>
            </div>
          </div>
          <% if user_signed_in? %>
            <%= f.submit "Reservation", class:"button-orange"%>
          <% else %>
            <div data-controller="alert">
              <%= f.submit "Reservation", class:"button-orange", data: { alert_target: 'button', action: 'click->alert#notice' } %>
              <span data-alert-target="notice"></span>
            </div>
          <% end %>
      <% end %>
      </div>

      <%# nombre de nuit/price par nuit%>
      <%# TOTAL%>
    </div>
  </div>

  <% if policy(@product).edit? %>
    <%= link_to "Edit", edit_product_path(@product.id), class:"button-white" %>
  <% end %>
  <%= link_to "<<", products_path, class:"button-white" %>
</div>



<script>
  var
    carousel = document.querySelector('.carousel'),
    figure = carousel.querySelector('figure'),
    nav = carousel.querySelector('nav'),
    numImages = figure.childElementCount,
    theta =  2 * Math.PI / numImages,
    currImage = 0
  ;

  nav.addEventListener('click', onClick, true);

  function onClick(e) {
    e.stopPropagation();

    var t = e.target;
    if (t.tagName.toUpperCase() != 'BUTTON')
      return;

    if (t.classList.contains('next')) {
      currImage++;
    }
    else {
      currImage--;
    }

    figure.style.transform = `rotateY(${currImage * -theta}rad)`;
  }
</script>
